@{    ViewBag.Title = "Home Page";
}

<h1>Wardrobe</h1>
<iframe src="https://giphy.com/embed/CxWPp7VYuYURa" width="1200" height="600" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/closet-CxWPp7VYuYURa">via GIPHY</a></p>

<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>



<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
